AsyncJava/
tasks/
3-lab/datafiles/
3-lab/.idea/
3-lab/1-lab.iml
3-lab/out/
4-lab/.idea/
4-lab/1-lab.iml
4-lab/out/
4-lab/JavaLabs.iml
5.1-lab/.idea/
5.1-lab/out/
5.1-lab/logs/
5.1-lab/datafiles/
5.2-lab/.idea/
5.2-lab/out/
5.2-lab/logs/
5.2-lab/datafiles/
CourseWork/target/
CourseWork/logs/
CourseWork/datafiles/
